NODE_ENV=development
DATABASE_URL=
PORT=3000
JWT_SECRET=
JWT_EXPIRES_IN=1d
AES_SECRET=
BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_BASE_URL=https://api.binance.com
BLOCKSCAN_API_KEY=
BLOCKSCAN_BASE_URL=https://api.etherscan.io/v2/api
BLOCKSCAN_CHAIN_ID=1
MONOBANK_TOKEN=
MONOBANK_BASE_URL=https://api.monobank.ua
VITE_API_URL=http://localhost:3000/api
